.container-countBtn {
    display: inline-grid;
    margin: auto;
    width: 100%;
    height: auto;
    justify-items: center;
    background-color: aqua;
    padding: 30px 70px;
    font-size: 1.2em;
}
.btn-increment{
    padding: 30px 70px;
    font-size: 1.2em;
}